﻿/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #373A37;
    font-size: 1.1em;
    font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #3D3F3D;
}

a:link, a:visited
{
    color: #223C61;
}

a:hover
{
    color: #223C61;
    text-decoration: none;
}

a:active
{
    color: #223C61;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}





/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    text-transform:uppercase;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 2.7em;
    font-weight: 400;
}

h3
{
    font-size: 1.8em;
	color:#A99914;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1200px;
    background-color: #E6EEF7;
    margin: 20px auto 0px auto;
    border: 0
}

.header
{
    position: relative;
    margin: 0px;
    padding: 35px 0px;
    background: #3A4F63;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main {
  padding: 0px 74px 60px 74px;
  min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 20px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.slideThumbs
{
    border-style: solid;
    border-width: thin;
    padding: 10px;
    margin: 5px;
    float: left;

}
.displayPop
{
    position: absolute;
    top: 300px;
    width: 400px;
}

.gridTbl
{
    border-style: none;
    background-color: #FFFFFF;
}

.gridTbl th
{
    border-style: none none solid none;
    padding: 10px;
    color: #997D54;
    border-bottom-width: 2px;
    font-weight: bold;
    text-align: left;
}
.gridTbl th:hover
{

    /*color: #B1DBAF;*/

}
.gridTbl td
{
    border-style: none none dotted none;
    padding: 10px;
}

.gridTbl tr:hover
{
     background-color: #E8F7F4 !important;
}


 .gridTblnew
{
    border-style: none;
    background-color: #FFFFFF;

}

.gridTblnew th {
    border-style: none none solid;
    color: #D8CE79;
    border-bottom-width: 2px;
    font-weight: bold;
    text-align: left;
    padding: 8px 16px;
    background-color: #3A4F63;
    font-size: 14px;
    text-transform: uppercase;
}

.gridTblnew th:hover
{

    /*color: #B1DBAF;*/

}
.gridTblnew td
{
    border-style: none none none none;
    padding: 3px;
}

.gridTblnew tr:hover
{
     background-color: #E8F7F4;
}

.gridTblnew th a:link, .gridTblnew th a:visited {
  color: #D8CE79 !important;
    font-size: 14px;
	}

.gridTblnew th a:hover {
  color: #E8E6BF !important;
}

.gridTblnew th a:after {
  display: inline-block;
  content: "";
  width: 13px;
  height: 19px;
 /* background: transparent url('../images/up-down-arrow.png') no-repeat 3px 4px;*/
  position: relative;
  top: 3px;
}

.title:before {
  background: transparent url('../images/mepi_seal.png') 36px 26px no-repeat;  
  display: inline-block;
  content: "";
  width: 164px;
  height: 154px;

  position: absolute;
  overflow:hidden;
  top: 3px;
}

/*------#997d54--------------*/


.gridTblnew a:link, a:visited
{
    color: #997d54;
}

 .gridTblnew a:hover
{
    color: #223C61;
    text-decoration: none;
}

 .Tblnew a:link, a:visited
{
    color: #223C61;
}

 .Tblnew a:hover
{
    color: #223C61;
    text-decoration: none;
}


input[type=submit]
{
    padding: 7px;
    background-color: #3A4F63;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.table {
    margin-left:25px;
    margin-top:5px;     
    padding: 5px;  

}

 .table td {
         border-style: none none none none;
         padding: 5px;
    }

/* custom april 2015 */



.zoom_img img{
	margin:0;
	height:100px;
	width:100px;
	-moz-transition:-moz-transform 0.5s ease-in; 
	-webkit-transition:-webkit-transform 0.5s ease-in; 
	-o-transition:-o-transform 0.5s ease-in;
	border:solid 0;
}
.zoom_img img:hover{
-moz-transform:scale(1.2); 
-webkit-transform:scale(1.2);
-o-transform:scale(1.2);
}

.col-xs-3{
	width:24%;
	float:left;
	text-align:center;
	margin-top: 40px;
}	

.clear{
	clear:both;
}

.table td {
  padding: 5px 64px 1px 0;
  width: 70px;
  white-space: nowrap;
}

.table {
  margin: 10px 0 50px 0;
  position: relative;
  z-index: 1;
}

#MainContent_rblReport{
	position:relative;
	z-index:1;
}

h1,h2,h3,h4,h5,h6{
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	padding: 5px 0;
}

h2.sub-header {
  color: #d8ce79;
  font-size: 45px;
  padding: 0px 0px 0px 185px;
  margin: 0;
  font-weight: normal;
  position: absolute;
  top: 93px;
}

h1.white-header {
  color: white;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif !important;
  font-weight: normal;
  padding: 0;
  margin: 0 0 0 185px;
}

a.no-dec{
	text-decoration:none;
}

table.gridTblnew {
	background:inherit;
}

table.gridTblnew tr td{
	padding:15px;
	font-size:14px;
}

	/*  Define the background color for all the ODD background rows  */
table.gridTblnew tr:nth-child(even){ 
		background: #E6EEF7;
	}
	/*  Define the background color for all the EVEN background rows  */
table.gridTblnew:nth-child(odd){
		background: #FBFBFB;
	}
	
table.gridTblnew tr:nth-child(even):hover{ 
		background: #E6F5F8;
	}	
	
.formLayout {
   background:inherit !important;
   border:0 !important;
}

h3 {
  padding: 40px 0 0 0;
}

div.menu {
  padding: 4px 20px 4px 8px;
  float: right !important;
  margin: -16px 0 0 0;
}

a#HeadLoginView_HeadLoginStatus {
  font-size: .9em;
  /* display: block; */
  text-align: right;
  padding: 1px 8px;
  color: White;
  font-weight: normal;
  text-decoration: none;
  border: solid 1px;
  text-transform: uppercase;
  margin-left: 15px;
}

a:hover#HeadLoginView_HeadLoginStatus {
 background-color:#A5B3C0;
}

/*#MainContent_btnSearch, #MainContent_btnLogin, #MainContent_btnSave, #MainContent_btnNew, #MainContent_btnClose, #MainContent_btnPrint, #MainContent_btnExcel{*/
#MainContent_btnSearch, #MainContent_btnLogin, #MainContent_btnSave, #MainContent_btnNew, #MainContent_btnClose, #MainContent_btnPrint, #MainContent_btnExcel,#MainContent_btnCustSearch,#MainContent_btnClearAll{
	
background-color: #909EAC;
border: 2px solid #4E667D;
color: #DDE4EC;
line-height: 1.35em;
padding: 4px 20px;
text-decoration: none;
white-space: nowrap;
margin: 40px 0 0 0;
font-size:1em;
}


/*#MainContent_btnSearch:hover, #MainContent_btnLogin:hover, #MainContent_btnSave:hover, #MainContent_btnNew:hover, #MainContent_btnClose:hover, #MainContent_btnPrint:hover, #MainContent_btnExcel:hover{*/
 #MainContent_btnSearch:hover, #MainContent_btnLogin:hover, #MainContent_btnSave:hover, #MainContent_btnNew:hover, #MainContent_btnClose:hover, #MainContent_btnPrint:hover, #MainContent_btnExcel:hover,#MainContent_btnCustSearch:hover,#MainContent_btnClearAll:hover{
    
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

input[name="ctl00$MainContent$btnSearch"].go-button {
  font-size: 14px !important;
  padding: 0 !important;
  height: 28px !important;
  border: 1px !important;
  position: relative;
  left: -4px;
  top:1px;
}

input[name="ctl00$MainContent$txtSearch"] {
	height:22px !important;
}

#MainContent_btnNew{
	margin-top:20px;
}

.formLayout p label {
	font-size:1.2em;
}

.formLayout input, .formLayout textarea, #MainContent_cboFeedbackType, .formLayout select, .formLayoutBoxes p select
, .formLayoutBoxes input{
	border: 0px;
	border-bottom: solid 1px;
	border-color: #CBCBCB;
	padding:3px;
	color:#666666;
	font-size:1em;
    margin-left: 5px;
}


ul li a{
	list-style-type:none !important;
}

.report-contain{
	position:relative;
	height:410px;
}

.report-contain h3, .country-contain h3 {
	position:relative;
	left:10px;
}

.report-area{
  background-color: #DFE6EF;
  position: absolute;
  height: 410px;
  width: 1137px;
  left: -74px;
  padding-left: 63px;
}

.country-area{
  background-color: #DFE6EF;
  position: absolute;
  height: 350px;
  width: 1137px;
  left: -74px;
  padding-left: 63px;
  margin: 50px 0;
}

.country-contain {
	position:relative;
	height:395px;
}

.main h2 {
  padding: 10px 10px 10px 75px;
  position: relative;
  left: -74px;
  display: block;
  background: rgb(167, 195, 231);
  font-size: 26px;
  margin: 0 0 40px 0;
  width: 1115px;
  font-weight: bold;
  color: rgb(12, 68, 142);
}

#map {
  height: 500px;
  margin: 0;
  padding: 0;
  position: relative;
  top: -107px;
  left: -75px;
}

.click-a-country {
  text-align: center;
  font-weight: bold;
  position: relative;
  left: 22px;
  top: 441px;
  font-size: 20px;
  color: rgb(58, 79, 99);
}

#MainContent_chkListCountries{
	padding-left:30px;
}

 tspan{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-anchor: middle;
  font-style: normal;
  font-variant: normal;
  font-weight: normal !important;
  font-stretch: normal;
  font-size: 6px !important;
  line-height: normal;
  font-family: arial, sans-serif;
  cursor: pointer;
  color:black !important;
}

#tt_sm{
	width:190px;
	padding: 10px 20px 20px 20px !important;
}

#tt_name_sm, #xmark_sm{
	font-size: 20px !important;
	color:#888888 !important;
	font-style: oblique !important;
	padding-bottom: 5px !important;
}

#xmark_sm{
	position:absolute;
	top: 10px;
	left: 195px;
}

#tt_custom_sm{
	padding-top: 10px !important;
}

h3.projects-by-country{
	position:relative; 
	top:-20px;
}